<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Master Mind</title>
        <link rel="stylesheet" href="css/styles.css"/>
        <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    </head>
    <body>
        <script th:inline="javascript">
            /*<![CDATA[*/
            TabuleiroId = /*[[${tabuleiro.id}]]*/ '1';
            position = /*[[${tabuleiro.index}]]*/ '1';

            console.log(TabuleiroId);
            /*]]>*/
        </script>
        <div id="linhas">
            <div class="linhas d-table" th:each="ar,arr : ${tabuleiro.matriz}" th:attr="data-index=${arr.index}">
                <div th:each="i,ii : ${ar}" th:class="'classe '+${tabuleiro.cor(i)}" th:id="${ii.index}"></div>
                <div class="portaResposta float-left">
                    <div th:each="i,ii : ${tabuleiro.pedra[arr.index]}" th:class="${tabuleiro.pedra(i)} + ' float-left'" th:id="${ii.index}"></div>
                </div>
                <button th:if="${arr.index <= tabuleiro.index}" class="button" th:id="'botao' + ${arr.index}">verifica</button>
            </div>
        </div>
        <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
        <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>
    </body>
</html>