<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Master Mind</title>
        <link rel="stylesheet" href="css/styles.css"/>
        <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    </head>
    <body>
        <div id="escolhaPadrao" data-index="0">
            <div class="classe white" id="0"></div>
            <div class="classe white" id="1"></div>
            <div class="classe white" id="2"></div>
            <div class="classe white" id="3"></div>
            <button class="btn" id="botao0">escolher padrão</button>
        </div>
        <br>
        <br>
        <br>
        <div id="linhas">
            <div class="linha" data-index="1">
                <div class="classe white" id="0"></div>
                <div class="classe white" id="1"></div>
                <div class="classe white" id="2"></div>
                <div class="classe white" id="3"></div>
                <div id="pedras1">

                </div>
                <button class="button" id="botao1">verifica</button>
            </div>
            <div class="linha" data-index="2">
                <div class="classe white" id="0"></div>
                <div class="classe white" id="1"></div>
                <div class="classe white" id="2"></div>
                <div class="classe white" id="3"></div>
                <button class="button" id="botao2">verifica</button>
            </div>
            <div class="linha" data-index="3">
                <div class="classe white" id="0"></div>
                <div class="classe white" id="1"></div>
                <div class="classe white" id="2"></div>
                <div class="classe white" id="3"></div>
                <button class="button" id="botao3">verifica</button>
            </div>
            <div class="linha" data-index="4">
                <div class="classe white" id="0"></div>
                <div class="classe white" id="1"></div>
                <div class="classe white" id="2"></div>
                <div class="classe white" id="3"></div>
                <button class="button" id="botao4">verifica</button>
            </div>
            <div class="linha" data-index="5">
                <div class="classe white" id="0"></div>
                <div class="classe white" id="1"></div>
                <div class="classe white" id="2"></div>
                <div class="classe white" id="3"></div>
                <button class="button" id="botao5">verifica</button>
            </div>
            <div class="linha" data-index="6">
                <div class="classe white" id="0"></div>
                <div class="classe white" id="1"></div>
                <div class="classe white" id="2"></div>
                <div class="classe white" id="3"></div>
                <button class="button" id="botao6">verifica</button>
            </div>
            <div class="linha" data-index="7">
                <div class="classe white" id="0"></div>
                <div class="classe white" id="1"></div>
                <div class="classe white" id="3"></div>
                <div class="classe white" id="3"></div>
                <button class="button" id="botao7">verifica</button>
            </div>
            <div class="linha" data-index="8">
                <div class="classe white" id="0"></div>
                <div class="classe white" id="1"></div>
                <div class="classe white" id="2"></div>
                <div class="classe white" id="3"></div>
                <button class="button" id="botao8">verifica</button>
            </div>
            <div class="linha" data-index="9">
                <div class="classe white" id="0"></div>
                <div class="classe white" id="1"></div>
                <div class="classe white" id="2"></div>
                <div class="classe white" id="3"></div>
                <button class="button" id="botao9">verifica</button>
            </div>
            <div class="linha" data-index="10">
                <div class="classe white" id="0"></div>
                <div class="classe white" id="1"></div>
                <div class="classe white" id="2"></div>
                <div class="classe white" id="3"></div>
                <button class="button" id="botao10">verifica</button>
            </div>
        </div>
        <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
        <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>
    </body>
</html>